.ui-form
{
 	float: right;
    margin: 0 3px 0 0;
    position: relative;
   	top: 35px;
    z-index: 1002;
    right: 35px;
}
ul.vs-header-menu
 {
    margin:10px 0px 0px 0px;
    position:relative;
    padding-left:0px; 
   	width: auto;
    border:none;
    font-size: 14px;
    height: 25px;
    margin: 8px 0 0;
 }

 ul.vs-header-menu li
 {
    display: inline-block;
    float: left;
    padding-top: 0px;
    position: relative;
    width: auto;
    border:none;
    padding-right:39px;
    z-index: 1000;
 }

 ul.vs-header-menu li a
 {
    color: #233223;
    display:inline-block;
    text-decoration:none;
    font-weight:bold;
    width:82px; 
    border:none;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 0;
    -moz-transition:color 0.2s linear, background 0.2s linear;
 }

 ul.vs-header-menu li a:hover
 {
   color:#a56c7a; 
 }

 ul.vs-header-menu li:hover > ul
{
    visibility:visible;
    opacity:1;
    color:#ffffff;
}

 ul.vs-header-menu ul
 {
    list-style: none;
    visibility:hidden;
    opacity:0;
    margin-left: 0px;
    padding-top: 0px;
    position: absolute;
    z-index: 99999;
    border:none;
    -moz-transition:background-color 0.2s linear, visibility 0.2s linear;
 }
 
 ul.vs-header-menu li ul
 {
    margin-left: 0px;
    width: auto;
 }

 ul.vs-header-menu li ul li
{
    font-size: 12px;
    margin-left: -40px;
    margin-right: 0;
    padding-left: 8px;
    padding-right: 10px;
    position: relative;
    text-align: left;
    width: auto;
/*     width:auto; */
}

 ul.vs-header-menu li ul li a
{
 margin-left: 0;
padding-left: 8px;
/*  width: 135px; */
 width:auto;
}

.vs-header-menu-downarrow
{ 
 background-image:url(../../images/down.gif);
 background-repeat:no-repeat;
 background-position: right center;
 position: relative;
 z-index: 1002;
}
